<footer class="footer">

  <div class="container">

<center>
    <a href="https://juliabertolaso.com/" target="_blank">juliabertolaso.com</a>
    |
    <a href="https://www.are.na/julia-bertolaso" target="_blank">Are.na</a>
<center>

  </div>

</footer>
