<div class="container">
  <header class="header" role="banner">


    <div class="header-logo">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
    </div>

    {% assign current = page.url | downcase | split: '/' %}




    <div class="header-menu">
      <nav class="nav">
        <ul>
          <li><a href="{{site.baseurl}}/reflections" {% if current[1]=='Reflections' %}class='active' {% endif %}>Reflections</a></li>
          <li><a href="{{site.baseurl}}/project" {% if current[1]=='project' %}class='active' {% endif %}>Project</a></li>
          <li><a href="{{site.baseurl}}/fabacademy" {% if current[1]=='fabacademy' %}class='active' {% endif %}>Fab Academy</a></li>
          <li><a href="{{site.baseurl}}/about" {% if current[1]=='About' %}class='active' {% endif %}>About</a></li>
        </ul>
      </nav>

    </div>
  </header>
</div>
