

// typography
$font-family: 'Lato', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-family-monospace: monospace;

$base-font-weight: 300;
$bold-font-weight: 700;


// typographic scale based largely on https://devinhunt.github.io/typebase.css/
$base-font-size: 17; // in pixels. This would result in 22px on desktop
$base-line-height: 1.75; // how large the line height is as a multiple of font size
$leading: $base-line-height * 1rem;
$scale: 1.125; // Rate of growth for headings, see https://zurb.com/word/modular-scale
$text-large: $scale*1rem;
$text-small: $scale*0.75rem;


// colors
$bg-color: #f7f7f7;
$text-color: hsl(50, 80%, 50%); //https://convertingcolors.com/hsl-color-50_80_50.html
$text-color: hsl(0, 0%, 7%);
$brand-primary: #CACACA; //399E5A

$gray: #787878;
$gray-light: lighten($gray,  40%);
$gray-dark: darken($gray, 25%);
$white: #FFFFFF;


// container sizing
$container: 3000px;
$container-large: 1300px;
$container-small: 700px;
$content-width: 800px;


// media queries
$large-screen: 740px;

$spacing-unit: 30px;
